:root {
    --primary-color: hsl(65,94%,68%);
    --text-color: hsl(0, 0%, 17%);
    --bg-color: hsl(0, 0%, 98%);
    --bg-card-color: hsl(0, 0%, 80%);
    --trasition: color 0.1s, background-color 0.2s ease-in-out;
    --border-radius: 0.4em;
    --skills-bar-length: 0%;
}

* {
    box-sizing: border-box;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

body {
    margin: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: var(--trasition);
    font-family: 'Kanit', sans-serif;
}

body.dark {
    --text-color: hsl(0, 0%, 83%);
    --bg-color: hsl(0, 0%, 12%);
    --bg-card-color: hsl(0, 0%, 20%);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    padding: 0 1.5em;
    background-color: var(--bg-card-color);
    transition: var(--trasition);
}

.switches {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toggle-theme {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.flags{
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flags__item{
    width: 30px;
}

.flags__img{
    cursor: pointer;
    display: block;
}

.toggle-theme__icon {
    margin-right: 0.5em;
    width: 20px;
}

.toggle-theme__text {
    font-size: 1.0em;
    font-weight: 800;
}

.colors {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    width: 100px;
}

.colors__item {
    width: 20px;
    height: 20px;
    border: 1px solid var(--text-color);
    background-color: var(--primary-color);
    cursor: pointer;
}

.colors__item--blue {
    --primary-color: hsl(198, 100%, 43%);
}

.colors__item--green {
    --primary-color: hsl(311, 93%, 43%);
}

.colors__item--purple {
    --primary-color: hsl(30, 96%, 51%);
}

.colors__item--orange {
    --primary-color: hsl(65,94%,68%);
}

.title {
    text-align: center;
    color: var(--primary-color);
    transition: var(--trasition);
}

.main {
    display: grid;
    padding: 1em;
    gap: 0.5em;
}

@media screen and (min-width: 900px) {
    .main {
        grid-template-columns: min-content 1fr;
    }
}


.column {
    display: grid;
    gap: 0.5em;
}

@media screen and (min-width: 720px) {
    .column {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, min-content);
    }
}

.card {
    padding: 1em;
    background-color: var(--bg-card-color);
    border-radius: var(--border-radius);
}

.card--profile{
    height: 1344px;
}

.card__image-container {
    min-width: 320px;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.card__header {
    padding: 1em 0;
}

.card__title {
    margin: 0;
    font-size: 1.5rem;
}

.card__title--name{
    margin: 0;
}

.card__title--projects{
    margin: 0;
    font-size: 1.5rem;
    text-decoration: underline var(--primary-color);
}

.card__title--contacto{
    margin-bottom: .5em;
}

.card__subtitle {
    font-size: 1rem;
    opacity: .8;
    margin: 0;
}

.card__link {
    margin-bottom: .7em;
}
.card__link i {
    width: 1em;
}

.card__link:hover {
    margin-bottom: .7em;
    text-decoration: underline;
}

.card__text {
    font-size: 1.1em;
    line-height: 1.6;
    margin: 0;
}

.card__h3 {
    margin: .6em 0;
    font-weight: 400;
    font-size: 1.2rem;
    padding-top: .8em;
}

.card__btns{
    text-align: center;
    padding-top: 3em;
}

.btn__social{
    background-color: var(--bg-color);
    border-top: 2px solid var(--primary-color);
    padding: 1em;
    margin: 0 .5em;
    text-align: center;
    color: var(--text-color);
    border-radius: var(--border-radius);
    transition: ease-in-out .2s;
    cursor: pointer;
}

.btn__social a{
    color: var(--text-color);
}

.btn__social i{
    width: 1em;
    font-size: 1.9em;
}

.btn__social:hover{
    border: 2px solid var(--primary-color);
    transition: ease-in-out .2s;
    color: var(--bg-color);
    background-color: var(--primary-color);
}

.card_projects{
    margin: 0;
}

.skills {
    padding-top: 0em;
}

.skills__header {
    display: flex;
    justify-content: space-between;
    width: 175px;
    margin-left: auto;
}

.skills__tech {
    margin: 0;
    font-size: 1rem;
    font-weight: 600;
}

.skills__item {
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skills__bar,
.skills__bar::after {
    position: relative;
    width: 175px;
    height: 8px;
    background-color: #888;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.skills__bar::after {
    content: '';
    position: absolute;
    background-color: var(--primary-color);
    transition: var(--trasition);
    left: -175px;
    animation: skills__bar-fill 2s ease-in-out forwards;
}

.skills__bar--10::after {
    --skills-bar-length: 10%;
}

.skills__bar--20::after {
    --skills-bar-length: 20%;
}

.skills__bar--30::after {
    --skills-bar-length: 30%;
}

.skills__bar--40::after {
    --skills-bar-length: 40%;
}

.skills__bar--50::after {
    --skills-bar-length: 50%;
}

.skills__bar--60::after {
    --skills-bar-length: 60%;
}

.skills__bar--70::after {
    --skills-bar-length: 70%;
}

.skills__bar--80::after {
    --skills-bar-length: 80%;
}

.skills__bar--90::after {
    --skills-bar-length: 90%;
}

.second , .third{
    display: flex;
    align-items: start;
    margin-top: 1em;
    padding: 0.9em;
    border-top: 2px solid var(--primary-color);
    border-left: 2px solid var(--primary-color);
    transition: var(--trasition);
}

.second__image {
    margin-right: 1em;
    max-width: 10%;
    text-align: center;
}

.second__description {
    margin: 1.1em 0px 0px 0px;
    font-size: 1.1em;
    line-height: 1.3;
}

.second__description--projects {
    margin: 0;
}

.second__time {
    margin: 0;
    opacity: .8;
}

.second__job {
    margin: 0;
}

.second__project {
    width: 100%;
    border-radius: var(--border-radius);
    border-bottom: solid 2px var(--primary-color);
    border-right: solid 2px var(--primary-color);
    overflow: hidden;
    margin: 10px 0 0;
}

.second__description--projects {
    min-height: 72px;
    font-size: 1.1em;
    line-height: 1.3;
}
.third__about-me{
    margin: 0;
}

.third__about-me li{
    list-style: none;
    margin-top: .8em;
}

.third__about-me i{
    color: var(--primary-color);
    opacity: .7;
    font-size: 1.4em;
    width: 1em;
}

.third__about-me h5{
    font-size: 1em;
    margin: 0;
}

.third__subtitle{
    margin: .8em 0 0 0;
}

.card_projects{
    display: flex;
    align-items: start;
    padding: 0.9em;
    border-radius: var(--border-radius);
    transition: var(--trasition);
}


.form__container {
    width: 100%;
    background: linear-gradient(var(--bg-color), var(--bg-color)) padding-box,
    linear-gradient(145deg, transparent 35%, var(--primary-color), var(--primary-color)) border-box;
    border: 2px solid transparent;
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 16px;
}

.form__container button:active {
    scale: 0.95;
}

.form__container .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form__container .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.form__container .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #717171;
    font-weight: 600;
    font-size: 14px;
}

.form__container .form-group input {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    color: #fff;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid #414141;
}

.form__container .form-group textarea {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    resize: none;
    color: #fff;
    height: 96px;
    border: 1px solid #414141;
    background-color: transparent;
    font-family: inherit;
}

.form__container .form-group input::placeholder {
    opacity: 0.5;
}

.form__container .form-group input:focus {
    outline: none;
    border-color: var(--primary-color);
}

.form__container .form-group textarea:focus {
    outline: none;
    border-color: var(--primary-color);
}

.form__container .form-submit-btn {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-self: flex-start;
    font-family: inherit;
    color: #717171;
    font-weight: 600;
    width: 40%;
    background: var(--bg-card-color);
    border: 2px solid #414141;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 6px;
}

.form__container .form-submit-btn:hover {
    background-color: var(--bg-card-color);
    border-color: var(--primary-color);
    color: var(--primary-color);
}

.second__description--more--projects{
    margin: 0;
    padding-bottom: 0.5em;
}
.second__more--projects{
    padding-top: 0.1em;
    margin: 0;
    border-top: 2px solid var(--primary-color);
}

.second__link {
    margin: 0;
}
.second__link:hover {
    text-decoration: underline;
}

.icon {
    margin-right: 1em;
}

@keyframes skills__bar-fill {
    to {
        transform: translateX(var(--skills-bar-length));
    }
}


.image-card {
    position: relative;
    overflow: hidden;
    margin-top: 1em;
    box-shadow: 2px -2px 1px var(--text-color);
    border: 2px solid var(--bg-color);
}

.image-card:hover{
    box-shadow: 4px -4px 1px var(--primary-color);
}

.image-card img {
    width: 100%;
    height: auto;
    transition: transform 0.3s;
}

.image-card:hover img {
    transform: scale(1.2);
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.3s;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-card:hover .overlay {
    opacity: 2;
}


